=begin
#Venice.ai API

#The Venice.ai API.

OpenAPI spec version: 20250521.233203

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.68
=end

module VeniceClient
  class BillingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # /api/v1/billing/usage
    # Get paginated billing usage data for the authenticated user. NOTE: This is a beta endpoint and may be subject to change.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept Accept header to specify the response format
    # @option opts [String] :currency 
    # @option opts [DateTime] :end_date 
    # @option opts [Integer] :limit  (default to 200)
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort_order  (default to desc)
    # @option opts [DateTime] :start_date 
    # @return [InlineResponse20015]
    def get_billing_usage(opts = {})
      data, _status_code, _headers = get_billing_usage_with_http_info(opts)
      data
    end

    # /api/v1/billing/usage
    # Get paginated billing usage data for the authenticated user. NOTE: This is a beta endpoint and may be subject to change.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept Accept header to specify the response format
    # @option opts [String] :currency 
    # @option opts [DateTime] :end_date 
    # @option opts [Integer] :limit 
    # @option opts [Integer] :page 
    # @option opts [String] :sort_order 
    # @option opts [DateTime] :start_date 
    # @return [Array<(InlineResponse20015, Integer, Hash)>] InlineResponse20015 data, response status code and response headers
    def get_billing_usage_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_billing_usage ...'
      end
      if @api_client.config.client_side_validation && opts[:'currency'] && !['USD', 'VCU'].include?(opts[:'currency'])
        fail ArgumentError, 'invalid value for "currency", must be one of USD, VCU'
      end
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !['asc', 'desc'].include?(opts[:'sort_order'])
        fail ArgumentError, 'invalid value for "sort_order", must be one of asc, desc'
      end
      # resource path
      local_var_path = '/billing/usage'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/csv'])
      header_params[:'Accept'] = opts[:'accept'] if !opts[:'accept'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse20015' 

      auth_names = opts[:auth_names] || ['BearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_billing_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
