=begin
#Venice.ai API

#The Venice.ai API.

OpenAPI spec version: 20250521.233203

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.68
=end

module VeniceClient
  class ModelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # /api/v1/models/compatibility_mapping
    # Returns a list of model compatibility mappings and the associated model.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type  (default to text)
    # @return [InlineResponse2006]
    def list_model_compatibility_mapping(opts = {})
      data, _status_code, _headers = list_model_compatibility_mapping_with_http_info(opts)
      data
    end

    # /api/v1/models/compatibility_mapping
    # Returns a list of model compatibility mappings and the associated model.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type 
    # @return [Array<(InlineResponse2006, Integer, Hash)>] InlineResponse2006 data, response status code and response headers
    def list_model_compatibility_mapping_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModelsApi.list_model_compatibility_mapping ...'
      end
      if @api_client.config.client_side_validation && opts[:'type'] && !['embedding', 'image', 'text', 'tts', 'upscale'].include?(opts[:'type'])
        fail ArgumentError, 'invalid value for "type", must be one of embedding, image, text, tts, upscale'
      end
      # resource path
      local_var_path = '/models/compatibility_mapping'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2006' 

      auth_names = opts[:auth_names] || ['BearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModelsApi#list_model_compatibility_mapping\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # /api/v1/models/traits
    # Returns a list of model traits and the associated model.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type  (default to text)
    # @return [InlineResponse2005]
    def list_model_traits(opts = {})
      data, _status_code, _headers = list_model_traits_with_http_info(opts)
      data
    end

    # /api/v1/models/traits
    # Returns a list of model traits and the associated model.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type 
    # @return [Array<(InlineResponse2005, Integer, Hash)>] InlineResponse2005 data, response status code and response headers
    def list_model_traits_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModelsApi.list_model_traits ...'
      end
      if @api_client.config.client_side_validation && opts[:'type'] && !['embedding', 'image', 'text', 'tts', 'upscale'].include?(opts[:'type'])
        fail ArgumentError, 'invalid value for "type", must be one of embedding, image, text, tts, upscale'
      end
      # resource path
      local_var_path = '/models/traits'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2005' 

      auth_names = opts[:auth_names] || ['BearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModelsApi#list_model_traits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # /api/v1/models
    # Returns a list of available models supported by the Venice.ai API for both text and image inference.
    # @param [Hash] opts the optional parameters
    # @option opts [Type] :type 
    # @return [InlineResponse2004]
    def list_models(opts = {})
      data, _status_code, _headers = list_models_with_http_info(opts)
      data
    end

    # /api/v1/models
    # Returns a list of available models supported by the Venice.ai API for both text and image inference.
    # @param [Hash] opts the optional parameters
    # @option opts [Type] :type 
    # @return [Array<(InlineResponse2004, Integer, Hash)>] InlineResponse2004 data, response status code and response headers
    def list_models_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ModelsApi.list_models ...'
      end
      # resource path
      local_var_path = '/models'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2004' 

      auth_names = opts[:auth_names] || ['BearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ModelsApi#list_models\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
