=begin
#Venice.ai API

#The Venice.ai API.

The version of the OpenAPI document: 20251218.042551

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module VeniceClient
  class VideoApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # /api/v1/video/complete
    # Delete a video generation request from storage after it has been successfully downloaded. Videos can be automatically deleted after retrieval by setting the `delete_media_on_completion` flag to true when calling the retrieve API.
    # @param [Hash] opts the optional parameters
    # @option opts [CompleteVideoRequest] :complete_video_request 
    # @return [CompleteVideo200Response]
    def complete_video(opts = {})
      data, _status_code, _headers = complete_video_with_http_info(opts)
      data
    end

    # /api/v1/video/complete
    # Delete a video generation request from storage after it has been successfully downloaded. Videos can be automatically deleted after retrieval by setting the &#x60;delete_media_on_completion&#x60; flag to true when calling the retrieve API.
    # @param [Hash] opts the optional parameters
    # @option opts [CompleteVideoRequest] :complete_video_request 
    # @return [Array<(CompleteVideo200Response, Integer, Hash)>] CompleteVideo200Response data, response status code and response headers
    def complete_video_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideoApi.complete_video ...'
      end
      # resource path
      local_var_path = '/video/complete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'complete_video_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CompleteVideo200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"VideoApi.complete_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideoApi#complete_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # /api/v1/video/queue
    # Queue a new video generation request.
    # @param [Hash] opts the optional parameters
    # @option opts [QueueVideoRequest] :queue_video_request 
    # @return [QueueVideo200Response]
    def queue_video(opts = {})
      data, _status_code, _headers = queue_video_with_http_info(opts)
      data
    end

    # /api/v1/video/queue
    # Queue a new video generation request.
    # @param [Hash] opts the optional parameters
    # @option opts [QueueVideoRequest] :queue_video_request 
    # @return [Array<(QueueVideo200Response, Integer, Hash)>] QueueVideo200Response data, response status code and response headers
    def queue_video_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideoApi.queue_video ...'
      end
      # resource path
      local_var_path = '/video/queue'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'queue_video_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'QueueVideo200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"VideoApi.queue_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideoApi#queue_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # /api/v1/video/quote
    # Quote a video generation request. Utilizes the same parameters as the queue API and will return the price in USD for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [QueueVideoRequest] :queue_video_request 
    # @return [QuoteVideo200Response]
    def quote_video(opts = {})
      data, _status_code, _headers = quote_video_with_http_info(opts)
      data
    end

    # /api/v1/video/quote
    # Quote a video generation request. Utilizes the same parameters as the queue API and will return the price in USD for the request.
    # @param [Hash] opts the optional parameters
    # @option opts [QueueVideoRequest] :queue_video_request 
    # @return [Array<(QuoteVideo200Response, Integer, Hash)>] QuoteVideo200Response data, response status code and response headers
    def quote_video_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideoApi.quote_video ...'
      end
      # resource path
      local_var_path = '/video/quote'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'queue_video_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'QuoteVideo200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"VideoApi.quote_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideoApi#quote_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # /api/v1/video/retrieve
    # Retrieve a video generation result. Returns the video file if completed, or a status if the request is still processing.
    # @param [Hash] opts the optional parameters
    # @option opts [RetrieveVideoRequest] :retrieve_video_request 
    # @return [RetrieveVideo200Response]
    def retrieve_video(opts = {})
      data, _status_code, _headers = retrieve_video_with_http_info(opts)
      data
    end

    # /api/v1/video/retrieve
    # Retrieve a video generation result. Returns the video file if completed, or a status if the request is still processing.
    # @param [Hash] opts the optional parameters
    # @option opts [RetrieveVideoRequest] :retrieve_video_request 
    # @return [Array<(RetrieveVideo200Response, Integer, Hash)>] RetrieveVideo200Response data, response status code and response headers
    def retrieve_video_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VideoApi.retrieve_video ...'
      end
      # resource path
      local_var_path = '/video/retrieve'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'video/mp4']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'retrieve_video_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'RetrieveVideo200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"VideoApi.retrieve_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VideoApi#retrieve_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
